<!DOCTYPE html>
<html>
<head>
    <title>Tambah Pesan</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css2/admin_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/admin_dashboard.css') }}">
    <!-- Tambahkan jsPDF Library -->
    <script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jspdf.plugin.autotable.min.js') }}"></script>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
         <!-- Side navigation -->
  <div class="sidenav">
    <a {% if dashboard %}class="checked"{% endif %} href="/admin/dashboard">Home</a>
    <a {% if profile %}class="checked"{% endif %} href="/admin/profile">Profile</a>
    <a {% if messages %}class="checked"{% endif %} href="/admin/messages">Messages</a>
    <a href="/admin/logout">Log Out</a>
  </div>
  <div class="main">
    <div class="container">
        <form action="#" method="POST" enctype="multipart/form-data">
            <input type="text" name="judul" id="judul" placeholder="Judul" required>
            <br>
            <textarea name="isi" id="isi" cols="80" rows="15" placeholder="Isi pesan" required></textarea>
            <p>Max: 4000 characters</p>
            <div class="submit-box">
                <input type="submit" class="btn btn-primary" value="Simpan">
                <a href="/admin/messages" class="btn btn-secondary">Batal</a>
            </div>
        </form>
    </div>
  </div>
</body>
</html>
