<!DOCTYPE html>
<html>
<head>
    <title>Tambah Pesan</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css2/admin_dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/admin_dashboard.css') }}">
    <!-- Tambahkan jsPDF Library -->
    <script src="{{ url_for('static', filename='js/jspdf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jspdf.plugin.autotable.min.js') }}"></script>

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <a {% if home %}class="checked"{% endif %} href="/admin">Home</a>
        <a {% if profile %}class="checked"{% endif %} href="/admin/profile">Profile</a>
        <a {% if messages %}class="checked"{% endif %} href="/admin/messages">Messages</a>
        <a {% if cuti %}class="checked"{% endif %} href="/admin/cuti">Cuti</a>
        <a href="/admin/logout" onclick="return confirm('Anda yakin mau logout?')">Log Out</a>
    </div>
  <div class="main">
    <div class="container">
        <div class="card card-info tambah">
            <div class="card-header text-center">
              <h3 class="card-title">Tambah Pesan</h3>
            </div>
            <!-- /.card-header -->
            
            <!-- form start -->
            <form class="form-horizontal" method="POST" action="#">
              {% if error %}
                <p style="font-size: 13px; margin-bottom: -17px; color: red; text-align: center; font-weight: bold;">{{error}}</p>
              {% endif %}
              <div class="card-body">

                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Judul:</label>
                  <div class="col-sm-10">
                    <input type="text"class="form-control" id="judul" maxlength="150" name="judul" placeholder="Judul">
                  </div>
                </div>
    
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Isi Pesan:</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" rows="4" type="text" name="isi" rows="4" cols="50" maxlength="4000" placeholder="Isi Pesan" required></textarea>  
                </div>
                </div>
                
    
                <div class="form-group row">
                  <label for="inputPassword3" class="col-sm-2 col-form-label">Attachment:</label>
                  <div class="col-sm-10">
                    <input style="margin-bottom: 10px ;"type="file" name="file" accept=".pdf,.docx">
                </div>
                </div>
    
              </div>
              <!-- /.card-body -->

              <div class="card-footer text-center">
                <button type="submit" class="btn btn-success" style="margin-top: 0px;">
                    Submit
                </button>
                <button type="submit" class="btn btn-secondary" style="margin-top: 0px;">
                    <a style="text-decoration: none; color: white;" href="/admin/messages">Cancel</a>
                </button>

            </div>

            </form>
        </div>
    </div>
  </div>
</body>
</html>