<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/dashboard.css') }}">
    
    <title>Profile</title>
</head>
<body>
    <!-- Side navigation -->
    <div class="sidenav">
        <a {% if home %}class="checked"{% endif %} href="/user">Home</a>
        <a {% if profile %}class="checked"{%endif%} href="/user/profile">Profile</a>
        <a {% if messages %}class="checked"{% endif %} href="/user/messages">Messages</a>
        <a {% if cuti %}class="checked"{% endif %} href="/user/cuti/{{data[0]}}">Cuti</a>
        <a href="/user/logout" onclick="return confirm('Anda yakin mau logout?')">Log Out</a>
    </div>
  
  <!-- Page content -->
  <div class="main">
    <div class="container">
        <div class="heading">
        <h1>Data Pegawai</h1>
        </div>
        <div class="line"></div>
        <div class="profile">
            <table class="profile-table">
                <tr>
                    <td class="photo" rowspan="7"><img src="{{ url_for('static', filename='images/' + data[0] + '.jpg') }}" alt="Foto {{ data[1] }}" height="15%"></td>
                    <td>NIK</td>
                    <td>:</td>
                    <td>{{ data[0] }}</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>{{ data[1] }}</td>
                </tr>
                <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ data[2] }}</td>
                </tr>
                <tr>
                    <td>Tanggal Lahir</td>
                    <td>:</td>
                    <td>{{ data[3] }}</td>
                </tr>
                <tr>
                    <td>Jenis Kelamin</td>
                    <td>:</td>
                    <td>{{ data[4] }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>:</td>
                    <td>{{ data[5] }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>:</td>
                    <td>{{ data[9] }}</td>
                </tr>
            </table>
        </div>
    </div>
  </div> 
</body>
</html>