<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/dashboard.css') }}">
    <title>Messages</title>
</head>
<body>
     <!-- Side navigation -->
  <div class="sidenav">
    <a {% if profile %}class="checked"{% endif %} href="/user/profile">Profile</a>
    <a {% if messages %}class="checked"{% endif %} href="/user/messages">Messages</a>
    <a href="/user/logout">Log Out</a>
  </div>
  
  <!-- Page content -->
  <div class="main">
    <div class="container">
      <h2>Message</h2>
      <h3>{{pesan[3]}}</h3>
        <p>Posted on {{pesan[2]}} by {{pesan[1]}}</p> <br>
        {% for line in isi %}
        <p>{{line}}</p>
        {% endfor %}
        <div>
          <a href="/user/messages" class="btn btn-secondary">Back</a>
        </div>
  </div>
  </div> 
</body>
</html>